*{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;

    box-sizing:border-box;
}

/* start style wrapper*/

.wrapper {
    background-color: #f3f2f0;
    font-family: initial;
}
/* end style wrapper*/

/* start style slide*/

.slide {
    height: 300px;
    margin-top:30px;
}
/* end style slide*/

/* start style many block*/
.manyBlock .oneBlock {
    margin-top: 30px;
    position: relative;
    overflow: hidden;


}

.manyBlock .oneBlock .oneBlock-one{
    display: none;
    position: absolute;
    width: 360px;
    height: 334px;

    top: 0;
    background:#00000021;
    z-index: 2;
}

.showAll:hover .thumbnail img {
    /*display: block;*/
    /*animation: hieuung;*/
    /*animation-duration: 0.5s;*/
    transform: scale(0.9);
    transition: 1s;
}
.showAll:hover .oneBlock-one {
    display: block;

}

.control i.fa:hover{
    font-size: 35px;
    color:red;
    cursor:pointer;
}
/*
@keyframes hieuung {
    0% {
        transform: translateY(1000px);
        visibility: hidden;
        opacity: 0;
        transition:0.5s;
    }
    100% {
        transform: translateY(0px);
        visibility: visible;
        opacity: 1;
        transition:0.5s;
    }


}
*/
.manyBlock .oneBlock .oneBlock-one p {
    background: #f9e10ff0;
    display: inline-block;
    float: right;
    height: 36px;
    line-height: 36px;
    text-align: center;
    /* font-weight: bold; */
    padding: 4px;
    color: red;
}

.manyBlock .oneBlock .oneBlock-one .control {
    margin-top: 281px;
    font-size: 24px;
    color: #9E9E9E;
    z-index: 3;
    width: 30px;
    /* margin-bottom: 49px; */
    margin-left: 264px;
}
.manyBlock .oneBlock .oneBlock-one .control span {
    display: block;
    margin-left: 30px;
}

.manyBlock .oneBlock h3 {
    color:#7ba720;

}


.manyBlock .oneBlock img{
    height: 350px;
    transform: scale(1);
}
.manyBlock .oneBlock:nth-child(3){
    margin-bottom: 50px;
}

/* end style many block*/

/* start style footer block*/

.footer {
    font-weight: bold;
    background-color: white;

    padding-top: 30px;
    margin-top: 30px;
}
.footer-copyright{
    color:#c99d8b;
}
.footer ul{
    list-style-type: none;
}

.footer .fa {
    margin-left:20px;
    font-size: 25px;
//color:red;
}

.fb {
    color:blue;
}

.yt {
    color:red;
}

.lk{
    padding: 4px;
    border-radius: 5px;
    color: white;
    background-color: #3ea8d8;
}
/* end style footer block*/

.logo{
    background-color: white;
}
.head-logo{
    position: relative;
}
.content{
    position: absolute;
    top: 65px;

}

.content span{
    margin-right: 5px;
    font-weight: bold;
    color:#7ba720;
}

.content select{
    margin-right: 5px;
    background-color: white;
    padding: 3px;
}

.content input[type=submit]{
    background-color: #7ba720;
    width: 80px;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 3px;
}

.navbar-default .navbar-nav>li>a {
    color : #002694;
    font-weight: bold;
}
.navbar-default .navbar-nav>li>a:hover {
    color : #7ba720;
    font-weight: bold;
}
.navbar-default .navbar-nav>li {
    border-right: 1px solid #8080802e;
    padding : 0px 15px;
}

.navbar-default .navbar-nav>li.dropdown {
    border:none;
}

.showDetail {
    margin-top: 30px;
    background:white;
}
.showDetail-one {
    height: 504px;
    border:2px solid #8080804f;

}

.showDetail-one .menuShowDetail {
    width: 100%;
    height: 500px;
    float: left;
    background-color: white;
    margin-left: -15px;
    cursor:pointer;
}

.showDetail-one .menuShowDetail ul {
    list-style-type: none;
}
.showDetail-one .menuShowDetail ul li{

    font-size: 18px;
    padding: 8.5px 15px;
    border : 1px solid #80808029;
}


.showDetail-one .contentShowDetail {
    width: 100%;
    height: 450px;
    background:white;
    position: relative;
    top:0;
}


.showDetail-one .contentShowDetail .oneBlockShowDetail {
    position: absolute;
    top: 10px;
}

.homeServiceContent,.entertaimentContent,.foodContent,.doctorContent,.shoppingContent,.educationContent,.businessContent,.billsContent{
    display: none;
}

.addClass {
    color:white;

    transition:1s;
    background-color: red;
}

.oneBlockShowDetail {
    border : 1px solid #8080801f;
    border-left:5px solid blue;
    padding-left:10px;
    width:100%;
}

.oneBlockShowDetail table {
    width: 100%;
    /*border:1px solid red;*/
}
.oneBlockShowDetail table tr td {
    border-bottom : 1px solid blue;
    padding:5px;
}
.oneBlockShowDetail table tr td i.fa {
    font-size: 10px;
}

.oneBlockShowDetail table tr td:nth-child(1) {
    font-weight: bold;
}
.oneBlockShowDetail table tr td:nth-child(2) {
    font-style: italic;
    color:red;
}
.edit {
    color:white;
}

.delete {
    color:white;
}

.add,.next {
    display: inline-block;
    width: 40px;
    height: 40px;
    /* border: 1px solid red; */
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background: #82d423;
    border-radius: 50%;
    color: white;
    float: right;
    cursor:pointer;
    margin-top:250px;
}

.next {
    float: left;
    margin-top:250px;

}
.wrapper-login{
    width:100%;
    height:100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}

.wrapper-login-child{
    width: 53%;
    height: 400px;
    position: absolute;
    top: 100px;
    left: 305px;
    background:white;
    padding: auto;
    z-index: 5;
}

.wrapper-login form{padding:20px;margin-top: 40px;}

.wrapper-login form input{
    display: block;
    margin-top: 16px;
    margin-left: 146px;
    width: 250px;
    height: 35px;
    font-weight: 400;
    padding: 6px;
    outline: none;

}


.wrapper-login img{
    margin-top:70px;
}

.hiddenClass {
    transform: translateX(1000px);
    transition: 0.5s;
}

.showClass {
    animation: hieuung;
    animation-duration: 0.5s;
}

@keyframes hieuung {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
        visibility: hidden;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
        visibility: visible;
        transition: 0.5s;
    }
}


.addContent {
    width: 100%;
    height: 426px;
    background:white;
    position: relative;
    top:-490px;
    z-index: -1;
    border-left:5px solid blue;

}

.showClass{
    z-index: 2;
}

.one {
    margin-top:20px;
    margin-left: 200px;
    text-align  :center;
}

.one span {
    display: inline-block;
    width: 100px;
}
.one:nth-child(3) span {
    padding-bottom: 30px;
}
.one select,input,textarea {
    width: 300px;
}

.button-add {
    display:none;
}
.next {
    display:none;
}

.display{
    display:block;
}

.showClass {
    transform: translateX(0px);
    transition: 0.5s;
}

.form-group .input-search{
    border:none;
    outline:none;
    

}

.manyBlock .oneBlock img {
    height: 320px !important;
    transform: scale(1);
}

.showDetail-one .menuShowDetail {
    width: 85%;
    height: 500px;
    float: left;
    background-color: white;
    margin-left: 13px;
    cursor: pointer;
}

.contentParent{
    position: relative;
    height: auto;
}

.contentShowDetail{
    position: absolute;
    top: 0;
    height: 750px;
}

.addContent{
    position: absolute;
    top: 0;
    height: 750px;
}

.alert-success {
    background-color:#337AB7;
    color:white;
}

.showDetail-one{
    height: 750px;
}

.manyBlock .oneBlock h3 {
    color: #337AB7;
}

.wrapper-login{
    background-image: url("images/backbround1.jpg");
}

.wrapper-login form input {
    display: block;
    margin-top: 16px;
    margin-left: 118px;
    width: 257px;
    height: 40px;
    font-weight: 400;
    padding: 6px;
    /* outline: none; */
    border-radius: 9px;
}

.add {
    display: inline-block;
    width: 40px;
    height: 40px;
    /* border: 1px solid red; */
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background: #82d423;
    border-radius: 50%;
    color: white;
    float: right;
    cursor: pointer;
    margin-top: 90px;
    margin-right: 30px;
}


.fa-star {
    color:#ecec2be8;
    font-size: 20px;
}

a:hover{
    text-decoration:none;
}

.content span {
    
    color: #337ab7;
}

.content input[type=submit] {
    background-color: #337ab7;
   
}

.menu-footer li {
    display: inline-block;
    padding:0px 15px;
}

.cotrol-detail{
    margin-top:-45px;
}

.cla p{
    margin: 20px;
}
